  .data{
    font-size: 10px;
    text-align: center;
  }

  .exp{
    font-size: 12px;
    font-weight: bold;
    text-align: left;
  }

  .texto{
    font-size: 12px;
    text-align: justify;
  }
  
  .ass {
    font-size: 13px;    
    text-align: left;
  }
