button, div {
    background-color: #477; 
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }

  button:hover {
    background-color: rgb(48, 100, 80);
    color: white;
  }

  div:hover {
    background-color: #444;
    color: black;
  }